/* Generals properties*/
*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

/* corps du projet*/
#chrono_vanilla{
       width: 50%;
       padding: 50px;
       margin: 20rem;
       margin-left: 25%;
       border-radius: 8px;
       scale: 1.09;
       border-radius: 58px;
       box-shadow: 0px 1px 10px 0px ;         
       transition: 1s;

}
#chrono_vanilla:hover{
 
    box-shadow: 0px 5px 30px 0px ;         
    transition:  1s ;
}

/* Title*/


#titre> h1{
    font-size: 58px;
    text-align: center;
    margin: 10px;

}
#titre> h2{
    font-size: 38px;
    text-align: center;
    margin: 10px;
    list-style: georgian;
    font-weight: 400;

}

/* chronoe*/
#chrono{
    margin: 18px;
    display: flex;
    flex-direction: column;
    align-items: center ;
   
}
#chrono >p {
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    border: 0px solid; 
   padding: 10px;
    width: 120px;
    color: white;
    background-color: #2C3E50;
    border-radius: 12px; 
    margin-bottom: 24px;
    
}
#chrono >p{
    display: flex;
}
#chrono >p >span{
    color: #FA709F;
}

/* Les boutons*/

#button{
    display: flex;
    justify-content: center;
   
}
#button > button{
    align-content: center;
    font-size: 28px;
    margin-right: 18px;
    padding: 5px;
    width: 120px;
    height: 70px;
    font-weight: 500;
    border-radius: 8px;
    background-color: #3963D7;
    color: white;
    border: 0px solid ;
    cursor: pointer;
    /* bottom: 5px; */
    transition: 1s;
    
}
#button > button:hover{
    
    scale: 1.1;
    transition: 0.8;
}
/* responsive designe pour les ipad  */
@media screen and (max-width:1024px){
    #chrono p {
        font-size: 20px;
        width: 75px;
    }
    #chrono_vanilla{
        height: 400px;
    }
    #titre> h1{
        font-size: 30px;
    }
    #titre> h2{
        font-size: 30px; 
    }
    #button > button{
        font-size: 25px;
        height:50px ;
         }
}
/* responsive designe pour les ecran de moin 815px de large  */
@media screen and (max-width:815px){
    #chrono p {
        font-size: 20px;
        width: 75px;
    }
    #chrono_vanilla{
        height: 350px;
    }
    #titre> h1{
        font-size: 28px;
    }
    #titre> h2{
        font-size: 25px; 
    }
    #button > button{
        font-size: 25px;
        height:50px ;
         }

}
/* responsive designe pour les ecran de moin 723px de large */
@media screen and (max-width:723px){
    #chrono p {
        font-size: 18px;
        width: 75px;
    }
    #chrono_vanilla{
        height: 350px;
        width: 60%;
        margin-left: 20%;
        
    }
    #titre> h1{
        font-size: 25px;
    }
    #titre> h2{
        font-size: 25px; 
    }
    #button > button{
        font-size: 25px;
        height:50px ;
         }

}
/* responsive design pour les ecran de moin 610px de large  */
@media screen and (max-width:610px){
    #chrono p {
        font-size: 18px;
        width: 75px;
    }
    #chrono_vanilla{
        height: 350px;
        width: 70%;
        margin-left: 15%;
      
        
    }
    #titre> h1{
        font-size: 25px;
    }
    #titre> h2{
        font-size: 25px; 
    }
    #button > button{
        font-size: 22px;
        height:40px ;
         }
  

}
/* responsive design  pour les ecren de moin 550px */
@media screen and (max-width:550px){
    #chrono p {
        font-size: 18px;
        width: 75px;
    }
    #chrono_vanilla{
        height: 320px;
        width: 80%;
        margin-left:10%;
        
    }
    #titre> h1{
        font-size: 21px;
    }
    #titre> h2{
        font-size: 21px; 
    }
    #button > button{
        font-size: 20px;
        height:35px ;
         }

}
/* responsive designe pour les ecran de moin 400px  */

@media screen and (max-width:400px){
    #chrono p {
        font-size: 16px;
        width: 55px;
  }
    #chrono_vanilla{
        height: 300px;
        width: 80%;
        margin-left:10%;
        
    }
    #titre> h1{
        font-size: 19px;
    }
    #titre> h2{
        font-size: 19px; 
    }
    #button > button{
        font-size: 16px;
        height:30px ;
         }
 }
 /* responsive design pour les ecran de moin 325px */
 
@media screen and (max-width:325px){
    #chrono p {
        font-size: 14px;
        width: 50px;
  }
    #chrono_vanilla{
        height: 280px;
        width: 80%;
        margin-left:10%;
        
    }
    #titre> h1{
        font-size: 15px;
     
    }
    #titre> h2{
        font-size: 15px;
        
      
    }
    #button > button{
        font-size: 14px;
        height:27px ;
      
         }
       
        
 }